<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>

  <div class="form-row">
    <div [ngClass]="classe" role="alert">
      {{mensagem}}
    </div>
    <div class="col-sm-12">
      <label for="nome">Nome da Plataforma</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Nome da Plataforma"
        formControlName="nome"
      />
    </div>
  </div>

  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="salvar()">
      Salvar
    </button>
    &nbsp;
    <button type="button" class="btn btn-secondary" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</form>
